@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #F59E0B;
  --color-background: #F8FAFC;
  --color-card: #FFFFFF;
  --color-text-primary: #111827;
  --color-text-secondary: #6B7280;

  --font-sans: "Inter", "Poppins", sans-serif;

  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;

  --shadow-soft: 0 4px 20px rgba(0,0,0,0.06);


  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }


}
@custom-variant dark (&:where(.dark, .dark *));

.animate-float {
  animation: float 3s ease-in-out infinite;
}